<h3>{{post.titulo}}</h3>
<small><b>Publicado em {{post.date}}</b></small>
<hr>
<p style="text-align: justify; white-space: pre-line" class="mt-3">{{post.conteudo}}</p>
<hr>
<small>Tag: <a href="/categorias/{{post.categoria.slug}}">{{post.categoria.nome}}</a></small>
    


